{% extends 'base.html' %}
{% block title %}Products{% endblock title %}

{% block content %}
    <div class="div container-fluid p-2">
        <h1>Products</h1>
        <div class="form">
            <form method="get" action="{% url 'product.list' %}" class="p-2 form mb-5">
                {% csrf_token %}
                <div class="bg-transparent">
                    <input type="text" name="search" id="search" class="rounded bg-dark text-light" placeholder="Search..." value={{request.GET.search}}>
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
        <div class="container-fluid d-flex justify-items-center align-items-center gap-5 max-w-100 flex-wrap">
            {% for product in products %}
            <div class="w-25 border border-white rounded p-2">
                <div class="card-title">
                    <a href="{% url 'product.product' id=product.id %}">
                        <h3>{{product.name}}</h3>
                    </a>
                </div>
                <div class="card-body">
                    <p>Price: {{product.price}}</p>
                    <p>Description: {{product.description}}</p>
                </div>
            </div>
            {% empty %}
            <p>No products found</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}