{% load static tailwind_tags %}
{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Default Title
        {% endblock %}
    </title>
    {% tailwind_css %}
    {% comment %} <link rel="stylesheet" href="{% static "style.css" %}"> {% endcomment %}
</head>
<body>
    {% block header %}
        This is a Default Heading
    {% endblock %}
</body>
</html>