{% extends "home.html" %}

{% block title %}Edit Students{% endblock title %}

{% block content %}
    <h2>Edit Student</h2>
    <form method="POST" action="{% url 'edit' student.id %}">
        {% csrf_token %}
        Name: <input type="text" name="name" value="{{student.name}}"><br><br>
        Roll: <input type="number" name="roll" value="{{student.roll}}"><br><br>
        Email: <input type="email" name="email" value="{{student.email}}"><br><br>
        <input type="submit" value="Update">
    </form>
    <a href="{% url 'home' %}">Back to List</a>
{% endblock content %}