<!DOCTYPE html>
<html>
<head><title>Upload Image</title></head>
<body>
    <h1>Upload Student Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Name: <input type="text" name="name"><br>
        Image: <input type="file" name="image"><br>
        <input type="submit" value="Upload">
    </form>
    <hr>
    <h2>Uploaded Students</h2>
    {% for student in students %}
        <p>{{ student.name }} <br> <img src="{{ student.image.url }}" width="150"></p>
    {% endfor %}
</body>
</html>